<%= form_for(request) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "erreur") %> interdit cette demande d'ètre enregistrée:</h2>

      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, required: :true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, required: :true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, required: :true, class: "form-control" %>
  </div class="form-group">

  <div class="form-group">
    <%= form.label :biography %>
    <%= form.text_area :biography, required: :true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Sauvegarder", class: "btn btn-secondary" %>
  </div>
<% end %>
